:root {
  --darkcards: #212121;
  --darkfont: white;
  --darkbgcolor: #282828;
  --darkborder: black;

  --whitecards: #D6D6D6;
  --whitefont: black;
  --whiteborder: #ABABAB;
  --whitescroll: #C0C0C0;
}

html, body {
  background-color: black;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow:hidden;
}

#container-me {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  color: var(--whitefont);
  font-family: 'Roboto', sans-serif;
}

.cards {
  flex: 0 0 275px;
  display: flex;
  flex-direction: column;
  overflow-Y: auto;
  overflow-X: hidden;
  background-color: var(--whitecards);
  transition: 0.3s ease;
}

.thetitle {
  position: relative;
  order: 0;
  width:100%;
  border-bottom: solid 1px var(--whiteborder);
}
.thetitle h2 {
  order: 0;
  width: 85%;
  margin: 0;
  padding: 0;
}
.namer {
  text-align: center;
}
.ice {
  order: 1;
  width:100%;
   }

.hyphonix {
  order: 2;
 }

.tsa {
  order: 3;
  width:100%;
 }

.destiny {
  order: 4;
  width:100%;
 }

.random {
  order: 5;
  width: 100%;
}

.carder {
  order: 0;
  width: 100%;
  display:flex;
  flex-direction: column;
  border-color: black;
  font-size: 16px;
  border-bottom: solid 1px var(--whiteborder);
 }

.pic {
  border: solid transparent 3px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.fa {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
  width: 60px;
}

.close {
  height: 30px;
  width: 30px; }

.active {
  cursor: pointer;
  border: solid red 4px;
 /* animation: pulse 2.5s linear infinite; */
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 0px 0px red; }
  25% {
    box-shadow: 0px 0px 10px 15px rgba(255, 0, 0, 0); }
  50% {
    box-shadow: 0px 0px 20px 35px rgba(255, 0, 0, 0); }
  100% {
    box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0); }
  }

.video {
  position: relative;
  order:1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
 }
 .stream {
   height: 90%;
   margin: auto;
 }

  .number {
    margin-top: 10px;
    margin-bottom: 10px;

  }
  .hello {
    height: 45px;
    width: 45px;
    margin-top: 15px;
  }

  .chatter {
    display: flex;
    flex-direction: column;
    background-color: var(--cards);
    order: 2;
    flex: 0 0 20%;
    border-radius: 5px;
  }
  .chat {
    width: 100%;
    height: 100%;

  }

  h1, h2 {
    font-family: 'Oleo Script', cursive;
    font-size: 28px;
  }
.thetitle h1 {
  font-size: 50px;
}
.thetitle {
  text-align: center;
}
  ::-webkit-scrollbar {
    width: 10px;
    background-color: var(--whitecards);
}
::-webkit-scrollbar-thumb {
  background: var(--whitescroll);
}

.poll {
font-family: 'Roboto', sans-serif;
position: absolute;
z-index: 1;
top: 0;
left: 45%;
text-align: center;
width: 550px;
background-color: #eee;
}

.form-check {
  display: grid;
}

.closetime {
  flex: 0 0 0;
}
.keepbuttons {
  position: absolute;
  z-index: 1;
  max-width: 120px;
  top:0;
  right:0;
}
.buttorg {
  display:block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  transition: 0.3s ease;
}
.buttorg button {
  width: 100%;
}
.copyright {
  font-size: 11px;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: none;
}
.linkme {
  width: 100%;
}
.video i {
  position: absolute;
  top: 0;
  left:15px;
  color:white;
  cursor: pointer;

}
.toggled {
  flex: 0 0 0;
}
.chatterbtn {
  position: absolute;
  top: 0;
  right: 0;
}
.center-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;

}
@media only screen and (max-width: 850px) {
  .cards {
    flex: 0 0 100%;
  }

  .pic {
    width: 85px;
    height: 85px;
  }
  .chatter {
    display: none;
  }
  .stream {
    display: none;
  }
  .video i {
    display: none;
    }
    
}
.fa-toggle-on {
position: absolute;
top:0;
left: 0;
font-size: 30px;
cursor: pointer;
}