:root {
  --cards: #212121;
  --bgcolor: #282828;
}

html, body {
  background-color: var(--bgcolor);
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow:hidden;
}

#container-me {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  color: #eee;
  font-family: 'Roboto', sans-serif;
}

.cards {
  flex: 0 0 275px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-Y: auto;
  overflow-X: hidden;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: var(--cards);
  transition: 0.3s ease;
}

.thetitle {
  order: 0;
  width:100%;
  border-bottom: solid 1px black;
}
.thetitle h2 {
  order: 0;
  width: 85%;
  margin: 0;
  padding: 0;
}

.ice {
  order: 1;
  width:100%;
  border-bottom: solid #D6D6D6 1px; }

.hyphonix {
  order: 2;
  border-bottom: solid #D6D6D6 1px; }

.tsa {
  order: 3;
  width:100%;
  border-bottom: solid #D6D6D6 1px; }

.destiny {
  order: 4;
  width:100%;
  border-bottom: solid #D6D6D6 1px; }

.random {
  order: 5;
  width: 100%;
}

.carder {
  order: 0;
  display: block;
  text-align: center;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  height: 250px;
  border-color: black;
  font-size: 16px;
  border-bottom: solid black 1px;
 }

.pic {
  border: solid transparent 3px;
  height: 85px;
  width: 85px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.fa {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
  width: 60px;
}

.close {
  height: 30px;
  width: 30px; }

.active {
  cursor: pointer;
  border: solid red 3px;
 /* animation: pulse 2.5s linear infinite; */
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 0px 0px red; }
  25% {
    box-shadow: 0px 0px 10px 15px rgba(255, 0, 0, 0); }
  50% {
    box-shadow: 0px 0px 20px 35px rgba(255, 0, 0, 0); }
  100% {
    box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0); }
  }

.video {
  order:1;
  height: 100%;
  border-radius: 3px;
  width: 100%;
 }
 .stream {
   margin: auto;
  height: 90%;
 }

  .number {
    margin-top: 10px;

  }
  .hello {
    height: 45px;
    width: 45px;
    margin-top: 15px;
  }

  .chatter {
    display: flex;
    flex-direction: column;
    background-color: var(--cards);
    order: 2;
    flex: 0 0 20%;
    transition: 0.3s ease;
    border-radius: 5px;
  }
  .chat {
    width: 100%;
    height: 100%;

  }

  h1, h2 {
    font-family: 'Oleo Script', cursive;
    font-size: 28px;
  }
.thetitle h1 {
  font-size: 50px;
}
.thetitle {
  text-align: center;
}
  ::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}
::-webkit-scrollbar-thumb {
  background: #2D2D2D;
}

.poll {
font-family: 'Roboto', sans-serif;
position: absolute;
z-index: 1;
top: 0;
left: 45%;
text-align: center;
width: 550px;
background-color: #eee;
}

.form-check {
  display: grid;
}

.closetime {
  flex: 0 0 0;
}
.keepbuttons {
  position: absolute;
  z-index: 1;
  max-width: 120px;
  top:0;
  right:0;
}
.buttorg {
  display:block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  transition: 0.3s ease;
}
.buttorg button {
  width: 100%;
}
.copyright {
  font-size: 11px;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: none;
}
.linkme {
  width: 100%;
}
@media only screen and (max-width: 850px) {
  .cards {
    flex: 0 0 100%;
  }
  .chatter {
    display: none;
  }
  .stream {
    display: none;
  }
}
[type="button"] {
  display:none;
}

.videobuttons {
  display: flex;
  width: 100%;
}
.videobuttons i {
  order: 0;
  width: 5%;
}
.videobuttons span {
  margin-top: 5px;
  order: 1;
  text-align: center;
  width: 95%;
}
